/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  .about-img{
    padding:20px 40px;
}
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
body{
	width: 100%;
}
.about-img{
    padding:20px 50px;
}
.left-nav{
	display: none;
}
.row-section{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 20px;

}  
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
body{
	width: 100%;
}
.about-img{
    padding:20px 0px;
}
.left-nav{
	display: none;
}
.about-img img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width:500px;
    max-height:150px;
}
.contact-section p{
    color: #fff;
    font-size: 15px;
}
.row-section{
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 20px;

}
.technical-skill{
    padding:0px;
}
 
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}