/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  .about-img{
    padding:20px 40px;
}
.post-desc{
    padding-top:5px;
    padding-left:10px;
    font-size: 10px;

}
.post-desc h4{
    font-size:15px;

}
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
body{
	width: 100%;
}
.about-img{
    padding:20px 50px;
}
.left-nav{
	display: none;
}
.row-section{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 20px;

} 
.footer-contact{
	 padding:50px 40px;
}
.post-desc{
    padding-top:5px;
    padding-left:10px;

}
.header{
    display: block;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
body{
	width: 100%;
}
.header{
    display: block;
}
.welcome-text h1{
    font-weight: 800;
    font-size:35px;
    padding: 0px 10px;
}
.about-img{
    padding:20px 0px;
}
.left-nav{
	display: none;
}
.about-img img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width:500px;
    max-height:150px;
}
.contact-section p{
    color: #fff;
    font-size: 15px;
}
.row-section{
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 20px;

}
.technical-skill{
    padding:0px;
}
.my-prtofolio{
    padding: 100px 20px;
    background-color: #F1F1F1;
}
 
 .all-project{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    grid-gap:20px 20px;
}
.footer-contact{
    display: grid;
    padding:50px 20px;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.Tags a{
    display: block;
    font-size: 18px;
    padding:0px 10px;
    color: #fff;
    background-color: grey;
    margin:5px;
    display: inline-block;

}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}