/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus {
    outline: 0 solid;
    text-decoration: none;

}
img {
    max-width: 100%;
    height: auto;
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body {
    height: 100%;
     scroll-behavior:smooth;
}

body{
  font-family: 'Gugi', cursive;


}

.test {font-family: 'Lato', sans-serif;}
a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
}
a:hover { text-decoration: none }

.left-nav{
    width: 30%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    overflow:auto;

}
.logo{
text-align: center;
}
.logo img{
    width:150px;
    height:150px;
    border-radius: 50%;
    box-shadow:10px 10px 10px #ecf0f1;
} 
.logo h1{
   /* padding: 20px 0px 30px 0px;*/
}
.logo p{
    background-color:#1abc9c;
    display: inline-block;
    color: #fff;
    padding:5px;
    font-size: 10px;
    border-radius: 5px;
    margin-bottom:40px;
}
/*.logo p:hover{
    background-color:tomato;

}*/
.nav-items{
    margin-top: 20px;
}
nav{
    text-align: center;

}
nav ul{
    list-style: none;
    margin-right:30px;
}

nav ul li{
    display: block;
    padding:12px 0px;
    font-size:20px;
}
nav ul li a{
    text-decoration: none;
    color: #616161;
    
}
nav ul ul li a{
    font-size: 16px;
    color:grey;
}
.footer-section{
    text-align: center;
    padding:10px 0px;
}
.social-media{}
.social-media a{
    display: inline-block;
    padding:8px;
    margin: 5px 5px;
    font-weight: bold;
    background-color:#ff573d;
    color: #fff;
    border-radius: 50%;
    
}
.social-media i{
    font-size:16px;
}
/*.right-section{
    width: 70%;
    height: auto;
    float: right;
}*/
/*.right-section{
    float:right;
    width:70%;
    height:auto;
}*/
body{
    width: 70%;
    float: right;
    scroll-behavior:smooth;
}
.top-section{
    position: relative;
    height: 100%;
    width: 100%;
}
.header{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 111;
    display:none;
}
.header h2{
    color: #fff;
}
.navbar{
    padding: 15px 0px;
    position: fixed;
    width: 100%;
}
.bg-section{
    height: 100%;
}
.welcome-section{
    background-image: url("img/banner-2.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100%;
    top: 0;
    right: 0;
    position:relative;
    background-attachment: fixed;
}
.welcome-text{
    height: 100%;
    width:100%;
    position: absolute;
    color: #fff;
    font-weight: 700;
    display: table;
}
.table-cell{
    width:100%;
    display: table-cell;
    vertical-align: middle;
}
.welcome-text h1{
    font-weight: 800;
    font-size:40px;
    padding: 0px 10px;
}
.welcome-text h1 span{
    display: block;
    padding-bottom: 20px;
}
.about-me{
    background-color: #616161;
    padding: 50px;
    width:100%;
    height: auto;
}
.about-me h1{
    text-align: center;
    padding: 20px 0px;
    color: #fff;
}
.about-img{
    padding:20px 170px;
}
.about-img img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width:500px;
    height:350px;
    border-radius:10px;
}
.about-me p{
    color: #bdc3c7;
    text-align: justify;
    padding: 20px 0px;
    
}
.contact-section{}
.contact-section a{
    color: #fff;
}
.mail p{
    padding-top: 0px;
    position: relative;
    font-size: 18px;
    color: #fff;
}
.mail p:before{
    content: "\f0e0";
    font-family: "FontAwesome";
    position: absolute;
    color:#ecf0f1;
    font-size: 20px;

}
.mail p span{
    margin-left:30px;
    display: inline-block;
}
.call p{
    padding-top: 0px;
    position: relative;
    font-size: 18px;
    color: #fff;
}
.call p:before{
    content: "\f098";
    font-family: "FontAwesome";
    position: absolute;
    color:#ecf0f1;
    font-size: 20px;

}
.call p span{
    margin-left:30px;
    display: inline-block;
}
.address p{
    padding-top: 0px;
    position: relative;
    font-size: 18px;
    color: #fff;
}
.address p:before{
    content: "\f21d";
    font-family: "FontAwesome";
    position: absolute;
    color:#ecf0f1;
    font-size: 20px;

}
.address p span{
    margin-left:30px;
    display: inline-block;
}
.address p{
    border-bottom:1px solid #bdc3c7;
}
.technical-skill{
    padding: 20px;
}
.technical-skill h2{
    color: #fff;
    font-weight: 800;
    padding-top: 20px;
}
.technical-skill button{
    padding:12px 40px;
    outline: none;
    border: none;
}
.technical-skill button:focus{
    outline: none;
}
/*.progress-bar{
    background-color:grey;
}*/
.how-much-charge{
     padding:50px;
     height:auto;
     background-color: #616161;
     align-items: center;
}
.how-much-charge h1{
    padding: 40px 0px;
    text-align: center;
    color: #fff;
}
.row-section{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr;*/
    grid-gap: 20px;

}
.column{
    background-color:#bdc3c7;
    text-align: center;
    padding:0px 0px 20px 0px;
    margin-top: 20px;
}
.column:hover{
    background-color: #fff;
}
.column p:not(.active){
    font-size:16px;
    padding: 10px 0px;
    border-bottom: 1px solid #7f8c8d;
}
p.active{
    font-size:25px;
    padding:25px 0px;
    background-color: black;
    color: #fff;
}
p.pro{
    font-size:25px;
    padding:25px 0px;
    background-color: #00cec9;
    color: #fff;
}
.column button{
    padding:10px 25px;
    background-color:#00b894;
    color:#fff;
}
.column span{
    font-size: 30px;
}
.my-prtofolio{
    padding: 100px 40px;
    background-color: #F1F1F1;
}
.my-prtofolio h1{}
.filer-section{}
.filer-section a{
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    margin-right:8px;
    margin-top: 10px;
    text-decoration: none;

}
.filer-section a:hover,a.active:hover{
    background-color:grey;
    color: black;

}
.filer-section a i{
    font-size:16px;
}
.filer-section a.active:hover{
    background-color:grey;
    color: #fff;
}
.filer-section a.active{
    background-color: black;
    color: #fff;
}
.all-project{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:20px 20px;
}
.project{
}
.project{
    width: 100%;
    background-color: #fff;
    margin-top:30px;
}
.project-img{
    width: 100%;
    overflow: hidden;

}
.project-img img{
    width: 100%;
     max-height: 390px;
}
.project-img img:hover{
    transform: scale(1.3);
    transition: .4s ease;
}

.project-desc{
    padding: 10px;
}
.pagination-section{
    text-align: center;
}
ul.pagination{
}
.footer-contact{
    display: grid;
    padding:50px 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.from{
    margin:20px 0px;
}
.from input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
.from textarea{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    resize: none;
}
.from h3,.from p{
}
.from button{
    padding:12px 0px;
    width: 100%;
    background-color: black;
    color: #fff;
    border:none;
    outline: none;
    margin-top: 20px;
}
.blog-post{
    padding: 20px 20px 20px 20px;
}
.blog-post{
}
.post{
    display:flex;
    margin:20px 0px;
}
.post img{
    width:70px;
    height:70px;

}
.post:hover{
    background-color: #CCCCCC;
}
.post-desc{
    padding-top:5px;
    padding-left:20px;

}
.Tags{
    text-align: center;
    margin:20px 0px;
}
.Tags a{
    display: block;
    font-size: 18px;
    padding: 10px 0px;

}
footer{
    text-align: center;
    padding:20px 10px;
    color: grey;
    background-color: black;

}
footer a{
    color: grey;
}